.button {
  margin: auto;
  position: relative;
  bottom: 35px;
  margin: auto;
  left: 0;
  right: 0;
  background: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0;
  animation: show-foot-bar 0.3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.button:hover {
  background: rgb(214, 214, 214);
}

.hr {
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  left: 0;
  bottom: 10px;
  height: 2px;
  width: 100%;
  background-color: white;
  opacity: 0;
  animation: show-foot-bar 0.3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.foot-bar-container {
  width: 95%;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
}

.h1 {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  color: #06326b;
  opacity: 0;
  animation: show-foot-bar 0.3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.component-foot-bar {
  bottom: -10px;

  width: 100%;
}

@media only screen and (max-width: 1366px) {
  .button {
    bottom: 18px;
  }

  .hr {
    bottom: -10px;
  }
}

@keyframes show-foot-bar {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}