@keyframes show-item-menu {
  from {
    transform: scale(0.75, 0.5625);
    /*transform: scale(.75, 0);*/
    opacity: 0;
  }

  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes show-content {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.item-menu {
  opacity: 0;
  color: #1b396a;
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  font-size: 1.5em;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 25px;
  transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  animation: show-item-menu 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
}

.item-menu>* {
  opacity: 0;
  animation: show-content 0.2s;
  animation-fill-mode: forwards;
}

.item-menu .name {
  margin-bottom: 40px;
  margin-top: 0px;
  font-family: sans-serif;
}

.item-menu>.icon {
  width: 200px;
  transform: scale(.9);
  transition: 0.2s;
  top: 10px;
  position: relative;
}

.item-menu-icon {
  transition: 0.2s;
  fill: #1b396a;
}

.item-menu:hover>.icon {
  transform: scale(1);
}

.item-menu:hover .item-menu-icon *,
.item-menu:hover .item-menu-icon {
  fill: #1b396a;
}

.item-menu .item-menu-icon *,
.item-menu .item-menu-icon {
  fill: #1b396a;
}

.item-menu:hover {
  background: white;
  color: #1b396a;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 1366px) {
  .item-menu {
    width: 400px;
    height: 200px;
  }

  .item-menu>.icon {
    transform: scale(0.75);
  }

  .item-menu:hover>.icon {
    transform: scale(0.9);
  }
}